<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/color-1.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
    </style>
    <title>Bio Profile Site</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row justify-content-between">
                <div class="logo">
                    <a href="index.html">s</a>
                </div>
                <div class="hamburger-btn outer-shadow hover-in-shadow">
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!-- header end  -->

    <!-- navigation menu start  -->
    <nav class="nav-menu">
        <div class="close-nav-menu outer-shadow hover-in-shadow">&times;</div>
        <div class="nav-menu-inner">
            <ul>
                <li><a href="#" class="inner-shadow active">home</a></li>
                <li><a href="#" class="outer-shadow hover-in-shadow">about</a></li>
                <!-- <li><a href="#" class="outer-shadow hover-in-shadow">services</a></li> -->
                <li><a href="#" class="outer-shadow hover-in-shadow">portfolio</a></li>
                <!-- <li><a href="#" class="outer-shadow hover-in-shadow">testimonial</a></li> -->
                <li><a href="#" class="outer-shadow hover-in-shadow">contact me</a></li>
            </ul>
        </div>
        <!-- copyright text  -->
        <!-- <p class="copyright-text">&copy; words and stuff</p> -->
    </nav>
    <!-- navigation menu end  -->

    <!-- home section start  -->
    <section class="home-section section">
        <!-- effect wrap start  -->
        <div class="effect-wrap">
            <div class="effect effect-1"></div>
            <div class="effect effect-2">
                <div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div>
            </div>
            <div class="effect effect-3"></div>
            <div class="effect effect-4"></div>
            <div class="effect effect-5">
                <div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div>
            </div>
        </div>
        <!-- effect wrap end  -->
        <div class="container">
            <div class="row full-screen align-items-center">
                <div class="home-text">
                    <p>Hello</p>
                    <h2>I'm Sean Holmes</h2>
                    <h1>Recent graduate from Coding Dojo and new Web Application Developer looking for gainful employment in a new career field. Thanks for checking out my profile page.</h1>
                    <a href="#about-me" class="btn-1 outer-shadow hover-in-shadow">More About Me</a>
                </div>
                <div class="home-img">
                    <div class="img-box inner-shadow">
                        <img src="./static/img/bio-pic.jpg" class="outer-shadow" alt="profile-pic">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home section end  -->
    <!-- about section start  -->
    <section class="about-section section">
        <div class="container">
            <div class="row">
                <div id="about-me" class="section-title">
                    <h2 data-heading="main info">About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="about-img">
                    <div class="img-box inner-shadow">
                        <img src="./static/img/bio-pic.jpg" class="outer-shadow" alt="profile-pic">
                    </div>
                    <!-- social links  -->
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/sean-holmes-65a08144/" class="outer-shadow hover-in-shadow"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/sfh1980" class="outer-shadow hover-in-shadow"><i class="fab fa-github"></i></a>
                    </div>
                    <!-- social links  -->
                </div>
                <div class="about-info">
                    <p><span>Hi! I'm Sean and this is my Profile Site Project! </span> While being closer to middle age than high school graduate age, I decided with the support of a beautiful and intelligent wife and in the middle of a pandemic to completely change my career field.
                    Some might say not the smartest of moves, yet here we are. I decided on a coding bootcamp with an original intent on learning Python but instead gained a solid foundation in not only Python, but Java, MERN, HTML, CSS, JavaScript, MySQL, MongoDB 
                    and many other frameworks and libraries and tools. I took better to some items than others but still want to build upon that continue this neverending journey. </p>
                        <a href="./static/docs/sh2023resume3.docx" class="btn-1 outer-shadow hover-in-shadow">Download Resume</a>
                        <!-- <a href="#" class="btn-1 outer-shadow hover-in-shadow">Hire Me</a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- about section end  -->

    <!-- services section start  -->
    <!-- might come back to later  -->
    <!-- services section end  -->

    <!-- portfolio section  -->
    <section class="portfolio-section section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="portfolio">Latest Works</h2>
                </div>
            </div>
            <!-- portfolio filter start  -->
            <div class="row">
                <div class="portfolio-filter">
                    <span class="filter-item outer-shadow active" data-target="all">All</span>
                    <span class="filter-item" data-target="web-application">XX Web Application</span>
                    <span class="filter-item" data-target="photoshop">XX Photoshop</span>
                    <span class="filter-item" data-target="mobile-app">XX Mobile-App</span>
                    <span class="filter-item" data-target="e-commerce">XX E Commerce</span>
                </div>
            </div>
            <!-- portfolio filter end  -->

            <!-- portfolio items start  -->
            <div class="row portfolio-items">
                <!-- portfolio item start  -->
                <div class="portfolio-item" data-category="web-application">
                    <div class="portfolio-item-inner outer-shadow">
                        <div class="portfolio-item-img">
                            <img src="./static/img/personal-portfolio.png" alt="portfolio"
                                data-screenshots="./static/img/project-img-1.png, 
                                ./static/img/project-img-2.png,
                                ./static/img/project-img-3.png, 
                                ./static/img/project-img-4.png">
                            <!-- view project btn  -->
                            <span class="view-project">View Project</span>
                        </div>
                        <p class="portfolio-item-title">personal portfolio</p>
                        <!-- portfolio item details start  -->
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="description">
                                    <h3>Project Brief:</h3>
                                    <p>words and phrases that mean things and talk about stuff.
                                     with punctuation and periods and dashes. and more stuff, yay me.
                                     big pat on my back.</p>
                                </div>
                                <div class="info">
                                    <h3>Project Info</h3>
                                    <ul>
                                        <li>Date - <span>2023</span></li>
                                        <li>client - <span>xyz</span></li>
                                        <li>tools - <span>html, css, javascript</span></li>
                                        <li>web - <span><a href="#">www.domain.com</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio item details end  -->
                    </div>
                </div>
                <!-- portfolio item end  -->
                <!-- portfolio item start  -->
                <div class="portfolio-item" data-category="web-application">
                    <div class="portfolio-item-inner outer-shadow">
                        <div class="portfolio-item-img">
                            <img src="./static/img/project-img-2.png" alt="portfolio"
                                data-screenshots="./static/img/project-img-1.png, 
                                ./static/img/project-img-2.png,
                                ./static/img/project-img-3.png, 
                                ./static/img/project-img-4.png">
                            <!-- view project btn  -->
                            <span class="view-project">View Project</span>
                        </div>
                        <p class="portfolio-item-title">project 2 example</p>
                        <!-- portfolio item details start  -->
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="description">
                                    <h3>Project Brief:</h3>
                                    <p>words and phrases that mean things and talk about stuff.
                                     with punctuation and periods and dashes. and more stuff, yay me.
                                     big pat on my back.</p>
                                </div>
                                <div class="info">
                                    <h3>Project Info</h3>
                                    <ul>
                                        <li>Date - <span>2023</span></li>
                                        <li>client - <span>xyz</span></li>
                                        <li>tools - <span>html, css, jquery</span></li>
                                        <li>web - <span><a href="#">www.domain.com</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio item details end  -->
                    </div>
                </div>
                <!-- portfolio item end  -->
                <!-- portfolio item start  -->
                <div class="portfolio-item" data-category="e-commerce">
                    <div class="portfolio-item-inner outer-shadow">
                        <div class="portfolio-item-img">
                            <img src="./static/img/project-img-3.png" alt="portfolio"
                                data-screenshots="./static/img/project-img-1.png, 
                                ./static/img/project-img-2.png,
                                ./static/img/project-img-3.png, 
                                ./static/img/project-img-4.png">
                            <!-- view project btn  -->
                            <span class="view-project">View Project</span>
                        </div>
                        <p class="portfolio-item-title">project 3 example</p>
                        <!-- portfolio item details start  -->
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="description">
                                    <h3>Project Brief:</h3>
                                    <p>words and phrases that mean things and talk about stuff.
                                     with punctuation and periods and dashes. and more stuff, yay me.
                                     big pat on my back.</p>
                                </div>
                                <div class="info">
                                    <h3>Project Info</h3>
                                    <ul>
                                        <li>Date - <span>2023</span></li>
                                        <li>client - <span>xyz</span></li>
                                        <li>tools - <span>html, css, bootstrap</span></li>
                                        <li>web - <span><a href="#">www.domain.com</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio item details end  -->
                    </div>
                </div>
                <!-- portfolio item end  -->
                <!-- portfolio item start  -->
                <div class="portfolio-item" data-category="web-application">
                    <div class="portfolio-item-inner outer-shadow">
                        <div class="portfolio-item-img">
                            <img src="./static/img/project-img-4.png" alt="portfolio"
                                data-screenshots="./static/img/project-img-1.png">
                            <!-- view project btn  -->
                            <span class="view-project">View Project</span>
                        </div>
                        <p class="portfolio-item-title">project 4 example</p>
                        <!-- portfolio item details start  -->
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="description">
                                    <h3>Project Brief:</h3>
                                    <p>words and phrases that mean things and talk about stuff.
                                     with punctuation and periods and dashes. and more stuff, yay me.
                                     big pat on my back.</p>
                                </div>
                                <div class="info">
                                    <h3>Project Info</h3>
                                    <ul>
                                        <li>Date - <span>2023</span></li>
                                        <li>client - <span>xyz</span></li>
                                        <li>tools - <span>html, css, other stuff</span></li>
                                        <li>web - <span><a href="#">www.domain.com</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio item details end  -->
                    </div>
                </div>
                <!-- portfolio item end  -->
            </div>
            <!-- portfolio items end  -->
            
        </div>
    </section>
    <!-- portfolio section end  -->
    <!-- portfolio popup start  -->
    <div class="pp portfolio-popup">
        <div class="pp-details">
            <div class="pp-details-inner">
                <div class="pp-title">
                    <h2>personal portfolio</h2>
                    <p>Category - <span class="pp-project-category">Web Application</span></p>
                </div>
                <div class="pp-project-details">
                    <div class="row">
                        <div class="description">
                            <h3>Project Brief:</h3>
                            <p>words and phrases that mean things and talk about stuff.
                             with punctuation and periods and dashes. and more stuff, yay me.
                             big pat on my back. More words and phrases to make stuff up and see things.</p>
                        </div>
                        <div class="info">
                            <h3>Project Info</h3>
                            <ul>
                                <li>Date - <span>2023</span></li>
                                <li>client - <span>xyz</span></li>
                                <li>tools - <span>html, css, other stuff</span></li>
                                <li>web - <span><a href="#">www.domain.com</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="separator"></div>

        <div class="pp-main">
            <div class="pp-main-inner">
                <div class="pp-project-details-btn outer-shadow hover-in-shadow">Project Details <i class="fas fa-plus"></i></div>
                <div class="pp-close outer-shadow hover-in-shadow">&times;</div>
                <img src="./static/img/personal-portfolio.png" alt="img" class="pp-img outer-shadow">
                <div class="pp-counter">1 of 6</div>
            </div>
            <div class="pp-loader">
                <div></div>
            </div>
            <!-- pp navigation  -->
            <div class="pp-prev"><i class="fas fa-play"></i></div>
            <div class="pp-next"><i class="fas fa-play"></i></div>
        </div>
    </div>
    <!-- portfolio popup end  -->

    <!-- main javascript  -->
    <script src="./static/javascript/main.js"></script>

</body>
</html>