<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font  awesome -->
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- responsive css --> 
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">
    <!-- default color skin -->
    <link rel="stylesheet" type="text/css" href="static/css/color-1.css">
    <!-- style switcher - for demo purpose-->
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-1" href="static/css/color-1.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-2" href="static/css/color-2.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-3" href="static/css/color-3.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-4" href="static/css/color-4.css" disabled>
    <link rel="stylesheet" type="text/css" class="alternate-style" title="color-5" href="static/css/color-5.css" disabled>
    <link rel="stylesheet" type="text/css" href="static/css/style-switcher.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
    </style>
    <title>Games Homepage</title>
</head>
<body>
    
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row justify-content-between">
                <div class="logo">
                    <a href="/">home</a>
                </div>
                <div class="description">The funny thing about taking journeys and encountering unexopected trails, you get to learn how to forgo the trail altogether and forge your own.
                    I started this particular part of my website with the idea that I'd take Python  code from a book and just plant it on a website. Guess, what? Coding isnt that easy. Its not that hard, but still, not that easy.
                    There is a process. A, LEARNING PROCESS, one might say. Full of stress and confusion and unintelligable noises. So I determined that this exercise in futility wouldnt be about doing whats simplest or most efficient,
                    but instead be about learning how to conquer questions I didnt know I'd need to ask. It would simply be about HOW I conquered the problem. 
                </div>
            </div>
            <div>
                <a href="/guess_the_number">Guess The Number</a>
            </div>
        </div>
    </header>
    <!-- header end  -->
    
</body>
</html>